h3 {
  color: var(--blue);
  font-family: var(--globalFont), sans-serif;
  font-size: 30px;
}

.function {
  
  font-style: italic;
  font-family: var(--globalFont), sans-serif;
  font-size: 20px;
}
.functions-li {
  color: var(--blue);
  font-family: var(--globalFont),sans-serif;
  font-size: 18px;
}
