h1 {
  color: var(--blue);
  font-family: "Silkscreen", sans-serif;
  font-size: 40px;
}

h2 {
  color: var(--blue);
  font-family: var(--globalFont), sans-serif;
  font-size: 25px;
}

.btns {
  color: var(--blue);
  font-family: var(--globalFont), sans-serif;
  display: block;
  font-size: 25px;
  font-weight: 500;
  padding: 10px;
  border: 2px solid var(--blue);
  margin-bottom: 10px;
}
.btns:hover {
  background: var(--blue);
  color: rgb(255, 255, 255);
}

.hi {
  width: 300px;
}
