
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Silkscreen&display=swap");
.home-page{
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    width:100%;
    height: 100px;
}

h1{
    color: rgb(67, 140, 169) ;
    font-family: 'Silkscreen', sans-serif;
    font-size: 40px;
}

h2{
    color: rgb(67, 140, 169) ;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
}

.buttons{
    color: rgb(67, 140, 169) ;
    font-family: 'Barlow Condensed', sans-serif;
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 10px;
    border: 2px solid rgb(67, 140, 169);
    animation: fadeIn 1s 1.8 backwards;
    white-space: nowrap;
    width: 25%;
}

.buttons:hover {
    background: rgb(67, 140, 169);
    color: rgb(255, 255, 255);
  }

