.quote {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 10px 20px;
  font-size: 25px;
  font-family: var(--globalFont);
  text-align: center;
}
.book {
  position: relative;
}
.open-img {
    width: 50vh;
}
.closed-img {
    width: 45vh;
}
.click {
  color: white;
  position: absolute;
  top: 45%;
  left: 52%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 25px;
  font-family: var(--globalFont);
  text-align: center;
}
