.tool-bar{
    background:#a1c4e4;
    height: 12vh;
}

.navlinks{
    color: black;
    font-family: 'Silkscreen', sans-serif;
    font-size: 20px;
}

.navlinks{
    color:black;
    font-family: 'Bree Serif', sans-serif;
    font-size: 20px;
}