.tool-bar{
    background:#a1c4e4;
    height: 12vh;
}

.logo{
    color: white;
    font-family: 'Silkscreen', sans-serif;
    font-size: 35px;
}

.navlinks{
    color:white;
    font-family: 'Bree Serif', sans-serif;
    font-weight: 400;
    font-size: 25px;
}