.task-btns {
  display: block;
  width: 125px;
  font-size: 16px;
}

.add-form {
  position: relative;
  top: 0%;
  right: 60vw;
  width: 70vw;
  height: 350px;
}

.list-task-title {
    color: #6c92cc;
  font-family: var(--globalFont);
}

.list-task-date {
 color: #E97451;
  font-family: monospace;
}

.list-task-description {
    color: #2e4a66d3;
    font-family: Cambria;
}

.sticker {
  position: relative;
  left: 50px;
  width: 50px;
}

.figure-sticker {
  position: relative;
  left: 60%;
  width: 200px;
}