.task-btns {
    position: absolute;
    right: 5vw;
    top: 25vh;
    width: 125px;
    font-size: 16px;
}

.add-form {
    position: relative;
    top: 25%;
    right: 60vw;
    width: 70vw;
    height: 50vh;
}
