.but{
    color: var(--blue);
    font-family: var(--globalFont), sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 8px;
    border: 2px solid var(--blue);
    width: 60px;
    margin-left: 20px;
    margin-top: 0px;
}
.but:hover{
    background-color: var(--blue);
    color: rgb(255, 255, 255);
}

input[type='text']{
    width: 50%;
    border-width: 2px;
    border-color: var(--blue);
    background:white;
    height: 50px;
    font-size: 16px;
    color: black;
    padding: 0 20px;

}

.menu-items{
    font-family: sans-serif;
    font-size: 15px;
    height: 125px; 
    overflow:hidden; 
    overflow-y:scroll;
}

.menu-label {
    font-family: var(--globalFont), sans-serif;
    font-size: 20px;
}

